/* RESET */
html {
   scroll-behavior: smooth;
}

body {
   padding: 0;
   margin: 0;
}


/* Background Animation */
body {
   background: linear-gradient(212deg, #616161, #dddddd, #545454);
   background-size: 600% 600%;

   -webkit-animation: gradient-anim 35s ease infinite;
   -moz-animation: gradient-anim 35s ease infinite;
   -o-animation: gradient-anim 35s ease infinite;
   animation: gradient-anim 35s ease infinite;
}

@-webkit-keyframes gradient-anim {
   0%{background-position:20% 0%}
   50%{background-position:81% 100%}
   100%{background-position:20% 0%}
}
@-moz-keyframes gradient-anim {
   0%{background-position:20% 0%}
   50%{background-position:81% 100%}
   100%{background-position:20% 0%}
}
@-o-keyframes gradient-anim {
   0%{background-position:20% 0%}
   50%{background-position:81% 100%}
   100%{background-position:20% 0%}
}
@keyframes gradient-anim {
   0%{background-position:20% 0%}
   50%{background-position:81% 100%}
   100%{background-position:20% 0%}
}



* {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
   text-align: center;
}




.container {
   display: flex;
   justify-content: center;
}
.container-item {
   display: block;
}


/* Mobile */
.responsive-navbar-item {
   width: 100%;
}
.responsive-container {
   display: block;
   justify-content: none;
}

/* DESKTOP */
@media only screen and (min-width: 657px) {
   .responsive-navbar-item {
      width: auto;
   }
   .responsive-container {
      display: flex;
      justify-content: center;
   }
}




.bg-canvas {
   position: fixed;
   z-index: -1;
}


.panel-container {
   display: flex;
   flex-wrap: wrap;

   /* Always same */
   justify-content: center;
}

/* MOBILE */
.panel-container > div {
   flex: 70%;
}
.panel-item {
   max-width: 70%;

   
   

   /* Always same */
   height: 300px;
   border-radius: 5%;

   background-color: #333333;
   color: white;
}
.panel-item > h2 {
   font-size: 1.4rem;
}

@media only screen and (min-width: 550px) {
   .panel-container > div {
      flex: 48%;
   }
   .panel-item {
      max-width: 48%;
   }
}
@media only screen and (min-width: 800px) {
   .panel-container > div {
      flex: 31.3%;
   }
   .panel-item {
      max-width: 31.3%;
   }
}
@media only screen and (min-width: 1200px) {
   .panel-container > div {
      flex: 23%;
   }
   .panel-item {
      max-width: 23%;
   }
}
@media only screen and (min-width: 1600px) {
   .panel-container > div {
      flex: 18%;
   }
   .panel-item {
      max-width: 18%;
   }
}





.product {
   margin: 1%;
}
.product:hover .hover-reveal-text {
   color: #FFFFFFBF;
}


.hover-reveal-text {
   transition: 300ms;

   color: #FFFFFF79;
}
.hover-reveal-text:hover, .hover-reveal-text:active, .hover-reveal-text:focus {
   color: #FFF !important;
   text-shadow:
      0 0 2px #fff,
      0 0 5px #fff;
   
   background-color: #00000098;

   margin-top: 10px;
}


.glow-text {
   text-shadow:
      0 0 2px #fff;
}



.black-hover-white {
   transition: 200ms;

   color: black;
}
.black-hover-white:hover, .black-hover-white:active, .black-hover-white:focus {
   color: #989898;
}



/* contact page responsiveness */
/* mobile */
#contact-mobile {
   display: block;
}
#contact-desktop {
   display: none;
}
/* desktop */
@media only screen and (min-width: 768px) {
   #contact-mobile {
      display: none;
   }
   #contact-desktop {
      display: block;
   }
}